@model SII_App_Grupo_5.Models.Inscripcion

@{
    ViewData["Title"] = "Create";
    var adquirientes = ViewData["adquirientesModel"] as Adquiriente;
    var enajenates = ViewData["enajenatesModel"] as Enajenante;
}

<h2>Nueva Inscripcion</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NaturalezaEscritura" class="control-label"></label>
                <select asp-for="NaturalezaEscritura" class="form-control">
                    <option value="">Seleccione naturaleza: </option>
                    <option value="Compraventa">Compraventa</option>
                    <option value="RegularizacionPatrimonio">Regularización de Patrimonio</option>
                </select>
                <span asp-validation-for="NaturalezaEscritura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comuna" class="control-label"></label>
                <select asp-for="Comuna" class="form-control">
                    @foreach (var comuna in ViewBag.Comunas)
                    {
                        <option value="@comuna.Nombre">@comuna.Nombre </option>
                    }
                </select>
                <span asp-validation-for="Comuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manzana" class="control-label"></label>
                <input asp-for="Manzana" class="form-control" placeholder="Ingrese Manzana: " />
                <span asp-validation-for="Manzana" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Predio" class="control-label"></label>
                <input asp-for="Predio" class="form-control" placeholder="Ingrese Predio: " />
                <span asp-validation-for="Predio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInscripcion" class="control-label"></label>
                <input asp-for="FechaInscripcion" class="form-control" placeholder="Ingrese Fecha de Inscripción" />
                <span asp-validation-for="FechaInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fojas" class="control-label"></label>
                <input asp-for="Fojas" class="form-control" />
                <span asp-validation-for="Fojas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroInscripcion" class="control-label"></label>
                <input asp-for="NumeroInscripcion" class="form-control" />
                <span asp-validation-for="NumeroInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
            <!-- campos para crear una nueva inscripción -->
            <button type="button" onclick="agregarAdquiriente()">Agregar Adquiriente</button>
            <div id="adquirientesContainer">
            <!-- aquí se agregarán los campos para cada enajenante -->
            </div>
            <div class="form-group">
            <!-- campos para crear una nueva inscripción -->
            <button type="button" onclick="agregarEnajenante()">Agregar Enajenante</button>
            <div id="enajenantesContainer">
            <!-- aquí se agregarán los campos para cada enajenante -->
        </form>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


<script>
    var adquirientes = [];
    var enajenantes = [];

    function agregarAdquiriente() {

        var index = $("#adquirientesContainer").children().length;

        var adquiriente = {
            Id: 0,
            Rut: 0,
            PorcentajeDerecho:0,
            Acreditado:true,
            InscripcionId: 0
        };
        var adquirienteDiv = $("<div>");

        var rutLabel = $("<label>")
            .text("Rut del Adquiriente "+ (index+1) +"\n");
        var rutInput = $("<input>")
            .attr("type", "text")
            .attr("name", "AdquirientesRut")
            .val(adquiriente.Rut);
        rutInput.on("input", function () {
            var inputValue = $(this).val();
            if (!isNumeric(inputValue)) {
                $(this).val(inputValue.replace(/[^0-9]/g, ''));
            }
        });
        adquirienteDiv.append(rutLabel, "<br>", rutInput,"<br>");

        var porcentajeDerechoLabel = $("<label>")
            .text("Porcentaje Derecho\n");
        var porcentajeDerechoInput = $("<input>")
            .attr("type", "number")
            .attr("step", 0.01)
            .attr("pattern", "[0-9]+([.,][0-9]+)?")
            .attr("name", "AdquirientesPorcentajeDerecho")
            .val(adquiriente.PorcentajeDerecho);
        porcentajeDerechoInput.on("input", function () {
            var inputValue = $(this).val();
        });
        adquirienteDiv.append(porcentajeDerechoLabel, "<br>", porcentajeDerechoInput,"<br>");

        var acreditadoLabel = $("<label>")
            .text("Acreditado");
        var acreditadoInput = $("<select>")
            .attr("name", "AdquirientesAcreditado");
        var optionTrue = $("<option>")
            .attr("value", true)
            .text("Acreditado");
        acreditadoInput.append(optionTrue);
        var optionFalse = $("<option>")
            .attr("value", false)
            .text("No Acreditado");
        acreditadoInput.append(optionFalse);
        adquirienteDiv.append(acreditadoLabel, "<br>", acreditadoInput,"<br>");

        $("#adquirientesContainer").append(adquirienteDiv);

        adquirientes.push(adquiriente);
}
    function agregarEnajenante() {

        var index = $("#enajenantesContainer").children().length;

        var enajenante = {
            Id: 0,
            Rut: 0,
            PorcentajeDerecho: 0,
            Acreditado: true,
            InscripcionId: 0
        };
        var enajenanteDiv = $("<div>");

        var rutLabel = $("<label>")
            .text("Rut del Enajenante " + (index) +"\n");
        var rutInput = $("<input>")
            .attr("type", "text")
            .attr("name", "EnajenantesRut")
            .val(enajenante.Rut);
        rutInput.on("input", function () {
            var inputValue = $(this).val();
            if (!isNumeric(inputValue)) {
                $(this).val(inputValue.replace(/[^0-9]/g, ''));
            }
        });
        enajenanteDiv.append(rutLabel, "<br>", rutInput,"<br>");

        var porcentajeDerechoLabel = $("<label>")
            .text("Porcentaje Derecho\n");
        var porcentajeDerechoInput = $("<input>")
            .attr("type", "text")
            .attr("name", "EnajenantesPorcentajeDerecho")
            .val(enajenante.PorcentajeDerecho);
        porcentajeDerechoInput.on("input", function () {
            var inputValue = $(this).val();
            if (!isNumeric(inputValue)) {
                $(this).val(inputValue.replace(/[^0-9]/g, ''));
            }
        });
        enajenanteDiv.append(porcentajeDerechoLabel, "<br>", porcentajeDerechoInput,"<br>");

        var acreditadoLabel = $("<label>")
            .text("Acreditado");
        var acreditadoInput = $("<select>")
            .attr("name", "EnajenantesAcreditado");
        var optionTrue = $("<option>")
            .attr("value", true)
            .text("Acreditado");
        acreditadoInput.append(optionTrue);
        var optionFalse = $("<option>")
            .attr("value", false)
            .text("No Acreditado");
        acreditadoInput.append(optionFalse);
        enajenanteDiv.append(acreditadoLabel, "<br>", acreditadoInput,"<br>");

        $("#enajenantesContainer").append(enajenanteDiv);

        enajenantes.push(enajenante);
    }

</script>

